body {
    background-color: lemonchiffon;
}

div{
    border: 1px;
    border-color: black;
    border-style: solid;
}
.navbar{
    display: flex;
    justify-content: end;

}

.grid-container {
    justify-content: center;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 200px 200px 400px 200px ;
    grid-auto-rows: auto;
    grid-template-areas: 
    "header header info info" 
    "stats skills combat prof"
    
    "attacksandweapons attacksandweapons attacksandweapons attacksandweapons"
    
    ;
    
}

.proficiencies{
    grid-area: prof;
}
.character-header{
    grid-area: header;
}
.character-info{
    grid-area: info;
}
.character-stats{
    grid-area: stats;
}
.skills{
    grid-area: skills;
}
.attacksandweapons{
    grid-area: attacksandweapons;
}

