body {
    background-color: lemonchiffon;
}

div{
    border: 1px;
    border-color: black;
    border-style: solid;
}
.routes{
    border: 0;
}
.navbar{
    pointer-events: none;
    border: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logo{
        
        width: 50vw;
        border: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 30px;
        :hover{
            color: rgb(165, 4, 4);
            background-color: rgb(163, 163, 163);
            cursor: pointer;
        }
        h1{
            pointer-events:auto;
            align-items: center;
            display: flex;
            height: 100px;
            border-radius: 10px;
            margin: 0;
            font-weight: bold;
            font-size: 50px;
            color: maroon;
            background-color: gray;
        }
        img{
            pointer-events:auto;
            border-radius: 25px;
            width: 100px;
            margin-right: 5px;
            
        }
    }
    .links{
        display: flex;
        justify-content: end;
        width: 50vw;
        border: 0;
        .link-div{
            div{
                border: 0;
            }
            border: 0;
            display: flex;
            border-radius: 10px;
            flex-direction: column;
            text-align: center;
            font-size: 40px;
            margin-right: 125px;
            background-color: gray;
            .link-item{
                :hover{
                    color: rgb(165, 4, 4);
                    background-color: rgb(163, 163, 163);
                    cursor: pointer;
                }
                p{
                    pointer-events:auto;
                    margin: 0;
                    color: maroon;
                }
            }
        }
    }

}

.grid-container {
    margin-top: 15px;
    border: 0;
    justify-content: center;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 225px 215px 400px 200px ;
    grid-template-rows: auto 100px auto 100px 200px auto;
    grid-template-areas: 
    "header info info info" 
    "header skills combat prof"
    "stats skills combat prof"
    "stats attacksandweapons attacksandweapons prof"
    "stats attacksandweapons attacksandweapons features"
    "spells spells equipment features"
    
    
    ;
    
}

.proficiencies{
    grid-area: prof;
}
.spells{
    grid-area: spells;
}
.features{
    grid-area: features;
}
.equipment{
    grid-area: equipment;
}
.character-header{
    grid-area: header;
}
.character-info{
    grid-area: info;
}
.character-stats{
    grid-area: stats;
}
.skills{
    grid-area: skills;
}
.attacksandweapons{
    grid-area: attacksandweapons;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@mixin outerBox{
    margin-bottom: 2px;
    display: flex;
    border: 2px;
    border-style: solid;
    height: 50px;
    background-color: tan;
    border-radius: 15px;
    align-items: center;

}

@mixin inputBox {
    width: 35px;
    height: 35px;
    background-color: white;
    color: black;
    border: 0px;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.skills {
    .inspiration{
        @include outerBox();
        input {
           @include inputBox();
        }
    }
    .pb{
        @include outerBox();
        justify-content: center;
    }
    .skills-chart{
        margin-bottom: 2px;
        background-color: tan;
        border: 2px;
        border-style: solid;
        border-radius: 15px;
        .skill-text{
            height: 20px;
            margin: 0;
            border: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .skill-line {
        border: 0px;
        margin: 0;
        padding-bottom: 0px;
        padding-top: 0px;
        height: auto;
        p{
            margin: 0px;
        }
        button{
            margin: 2px;
            margin-right: 5px;
            height: 17px;
            border-radius: 15px;
        }
    }
    border: 0px
}

.combat-info{
    border: 2px;
    background-color: tan;
    border-radius: 15px;
    border-style: solid;
    height: 500px;
    .top-row{
        border: 0px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            @include inputBox();
        }
        .top-row-col{
            h2{
                margin: 5px;
            }
            background-color: gray;
            border: 2px;
            border-style: solid;
            border-radius: 15px;
            margin-right: 5px;
            margin-left: 5px;
            text-align: center;
        }
    }
    .max-health{
        margin-top: 5px;
        border: 0px;
        border-bottom: 2px;
        border-top: 2px;
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            @include inputBox();
            width: 50px;
        }
    }
    .temp-health{
        border: 0px;
        border-bottom: 2px;
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            @include inputBox();
            width: 50px;
        }
    }
    .current-health{
        border: 0px;
        text-align: center;
        input{
            margin-top: 5px;
            font-size: 25px;
            text-align: center;
            height: 50px;
            width: 200px;
            border-radius: 10px;
        }
        h2{
            margin: 0;
        }
    }
    .bottom-row{
        display: flex;
        justify-content: center;
        div{
            margin: 5px;
        }
        .hit-dice{
            border: 0;
            padding-right: 15px;
            border-right: 2px;
            border-style: solid;
            margin-right: 0;
            .total{
                text-align: center;
                border: 0;
                h2{
                    font-size: 20px;
                    margin: 0;
                }
                input{
                    text-align: center;
                    border-radius: 5px;
                    height: 20px;
                    width: 100px;
                    font-size: 18px;
                }
            }
            .current{
                text-align: center;
                border: 0;
                h2{
                    font-size: 20px;
                    margin: 0;
                }
                input{
                    text-align: center;
                    border-radius: 5px;
                    height: 20px;
                    width: 100px;
                    font-size: 18px;
                }
            }
            
        }
        .heal-damage{
            border: 0;
            border-left: 2px;
            border-style: solid;
            margin-left: 0;
            padding-left: 15px;
            text-align: center;
            .hdinput{
                border:0;
                text-align: center;
            }
            input{
                text-align: center;
                border-radius: 5px;
                height: 30px;
                margin-top: 30px;
                width: 100px;
                font-size: 22px;
            }
            button{
                margin: 2px;
                height: 25px;
                border-radius: 25px;
            }
            .heal-me{
                background-color: green;
            }
            .damage-me{
                background-color: red;
            }
        }
    }
}

.character-header{
    background-color: tan;
    border-radius: 15px;
    text-align: center;
    div{
        border: 0;
        margin-top: 5px ;
        margin-bottom: 5px ;
    }
    img{
        border-radius: 100px;
        margin-top: 5px;
    }
    input{
        padding: 0;
        margin-bottom: 2px;
        font-size: 20px;
        text-align: center;
        width: 200px;
        height: 50px;
        border-radius: 15px;
        background-color: white;
    }
    button{
        border-radius:10px;
        margin: 2px;
    }
    .delete{
        background-color: #aaaaaa;
        margin-bottom: 4px;
    }
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
font-size: 25px;
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
text-align: center;
height: 110px;
font-weight: bold;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.expand{
    border: 0;
    text-align: center;
    section{
        text-align: center;
        background-color: tan;
        height: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    :hover{
        cursor: pointer;
    }
    button{
        background-color: white;
        width: 600px;
        height: 25px;
    }
}
.expand-spell{
    border: 0;
    text-align: center;
    
    section{
        text-align: center;
        background-color: tan;
        height: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    :hover{
        cursor: pointer;
    }
    button{
        background-color: white;
        font-size: 18px;
        width: 425px;
        height: 25px;
    }
}

.spells{
    div{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .spell-row{
        border: 0;
    }
    .spell-line{
        border: 0;
    }
}

.chars-container{
    text-align: center;
}