body {
    background-color: lemonchiffon;
}

div{
    border: 1px;
    border-color: black;
    border-style: solid;
}
.navbar{
    display: flex;
    justify-content: end;

}

.grid-container {
    justify-content: center;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 200px 215px 400px 200px ;
    grid-template-rows: 200px 100px 100px 600px 200px auto;
    grid-template-areas: 
    "header header info info" 
    "header header combat prof"
    "stats skills combat prof"
    "stats skills combat prof"
    "attacksandweapons attacksandweapons attacksandweapons attacksandweapons"
    "features equipment equipment equipment"
    "spells spells spells spells"
    
    ;
    
}

.proficiencies{
    grid-area: prof;
}
.spells{
    grid-area: spells;
}
.features{
    grid-area: features;
}
.equipment{
    grid-area: equipment;
}
.character-header{
    grid-area: header;
}
.character-info{
    grid-area: info;
}
.character-stats{
    grid-area: stats;
}
.skills{
    grid-area: skills;
}
.attacksandweapons{
    grid-area: attacksandweapons;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@mixin outerBox{
    margin-bottom: 2px;
    display: flex;
    border: 2px;
    border-style: solid;
    height: 50px;
    background-color: tan;
    border-radius: 15px;
    align-items: center;

}

@mixin inputBox {
    width: 35px;
    height: 35px;
    background-color: white;
    color: black;
    border: 0px;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.skills {
    .inspiration{
        @include outerBox();
        input {
           @include inputBox();
        }
    }
    .pb{
        @include outerBox();
        justify-content: center;
    }
    .skills-chart{
        margin-bottom: 2px;
        background-color: tan;
        border: 2px;
        border-style: solid;
        border-radius: 15px;
        .skill-text{
            height: 20px;
            margin: 0;
            border: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .skill-line {
        border: 0px;
        margin: 0;
        padding-bottom: 0px;
        padding-top: 0px;
        height: auto;
        p{
            margin: 0px;
        }
        button{
            margin: 2px;
            margin-right: 5px;
            height: 17px;
            border-radius: 15px;
        }
    }
    border: 0px
}

.combat-info{
    border: 2px;
    background-color: tan;
    border-radius: 15px;
    border-style: solid;
    height: 500px;
    .top-row{
        border: 0px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            @include inputBox();
        }
        .top-row-col{
            h2{
                margin: 5px;
            }
            background-color: gray;
            border: 2px;
            border-style: solid;
            border-radius: 15px;
            margin-right: 5px;
            margin-left: 5px;
            text-align: center;
        }
    }
    .max-health{
        margin-top: 5px;
        border: 0px;
        border-bottom: 2px;
        border-top: 2px;
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            @include inputBox();
            width: 50px;
        }
    }
    .temp-health{
        border: 0px;
        border-bottom: 2px;
        border-style: solid;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            @include inputBox();
            width: 50px;
        }
    }
    .current-health{
        border: 0px;
        text-align: center;
        input{
            margin-top: 5px;
            font-size: 25px;
            text-align: center;
            height: 50px;
            width: 200px;
            border-radius: 10px;
        }
        h2{
            margin: 0;
        }
    }
}